* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {

}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: #EAEAEA;
}

::-webkit-scrollbar-thumb {
  background: #00d8d8;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}
