footer {
    background-color: black;
    color: #00d8d8;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    padding: 1%;
    width: 100%;
}

.mattFoot {
    font-size: large;
    font-family: 'Graduate',cursive;
    font-weight: bold;
}

.logoFoot {
    height: 2em;
    vertical-align: middle;
}

.stravaImg {
    height: 3em;
    vertical-align: middle;
}

.instaFoot {
    height: 2em;
    vertical-align: middle;
}

.justinFoot {
    font-size: x-small;
    float: right;
}

.justinLink {
    text-decoration: none;
    color: white;
}

.justinLink:hover {
    cursor: pointer;
    text-decoration-color: #00d8d8;
    text-decoration: underline;
}