footer {
    background-color: black;
    color: #00d8d8;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    padding: 5%;
    width: 100%;
}

.mattFoot {
    font-size: large;
}

.justinFoot {
    font-size: small;
}

.justinLink {
    text-decoration: none;
    color: white;
}

.justinLink:hover {
    cursor: pointer;
    text-decoration-color: #00d8d8;
    text-decoration: underline;
}