.introBox {
    height: 60vh;
    background-image: url('/sneakers.jpg');
    background-position: center;
    background-size: cover;  
    padding: 5%; 
    border-bottom: 2px solid #00d8d8;
}

.introInfo {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    font-family: 'Open Sans', cursive;
    text-shadow: 1px 2px 4px black;
}

.introHead {
    font-family: 'Graduate', cursive;
    font-size: 3rem;
    background-color: white;
    padding: 1%;
}

.introPrice {
    font-weight: bolder;
    font-size: 2rem;
    color: #00d8d8;
}

.shopPlansBtn {
    text-align: center;
    background-color: white;
    padding: 1em;
    text-decoration: none;
    color: #00d8d8;
    font-family: 'Graduate', cursive;
    border: 3px solid #00d8d8;
    font-weight: bold;
}

.linkBox {
    text-align: center;
    padding: 1em;
}

.shopPlansBtn:hover {
    cursor: pointer;
    background-color: #00d8d8;
    color: white;
    border: 3px solid white;
    transition-duration: 500ms;
}