nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  display: -webkit-flex;
  display: flex;
  border-right: 2px solid #00d8d8;
  }

  .navLi {
    padding: 3rem;
    text-align: center;
    margin: auto 0;
    height: 100%;
    border-bottom: 1px solid darkslategrey;
  }

  .navLi:hover {
    cursor: pointer;
    background-color: darkslategrey;
  }
  
  .navList {
    list-style: none;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: column;
    flex-flow: column;
    height: 100vh;
    width: 10rem;
    margin: 0;
    padding: 0;
  }
  
  .navLink {
    color: #00d8d8;
    margin: auto;
    font-family: "Graduate", cursive;
    font-size: 1rem;
    text-decoration: none;
  }
  
  .navLink:hover {
    cursor: pointer;
    color: #EAEAEA;
  }
  
  .navLogo {
    height: 3em;
  }

  .logoLi {
    background-color: #00d8d8;
    margin: 0;
    padding: 0;
  }

  .logoLi:hover {
    cursor: pointer;
    background-color: #00d8d8;
  }

  .navBtn {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 1rem;
  }

  .navBtn:hover {
    cursor: pointer;
  }

  .closeBtn {
    background-color: transparent;
    border: none;
    color: #00d8d8;
    font-size: 2rem;
  }

  .closeBtn:hover {
    cursor: pointer;
  }

  @media only screen and (min-width: 780px) {

    .navLink {
      font-size: 1rem;
    }
    
    .navBtn {
      height: 3rem;
    }

  }