.runPlanBox {
    padding: 2%;
}

.runBoxBg {
    background-image: url(/sneakers.jpg);
    background-repeat: no-repeat;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    height: 20rem;
    background-size: cover;
    background-position: center;
}

.runBoxHead {
    border: 5px solid transparent;
}

.runHeader {
    font-family: "Graduate", cursive;
    font-weight: bold;
    font-size: xx-large;
}

.innerRunBox {
    position: absolute;
    transform: translate(0%, -100%);
    height: 20rem;
    background-color: rgba(255, 255, 255, 0.49);
    padding: 1%;
}

.planTabs {
    display: flex;
    width: 100%;
}

.runTab:hover, .triTab:hover {
    cursor: pointer;
}

.runTab, .triTab {
    flex: 1;
    border: 1px solid black;
    border-bottom: none;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    padding: 3%;
    text-align: center;
    font-family: 'Graduate', cursive;
    font-weight: bold;
    background-color: white;
}

.runPlanList, .runPlanType {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    text-align: center;
    font-family: 'Graduate', cursive;
    font-weight: bold;
}

.runPlanList li, .runPlanType li {
    flex: auto;
    margin: 2px;
    list-style: none;
    border: 2px solid #00d8d8;
    padding: 2%;
}

.runPlanList li:hover, .runPlanType li:hover {
    cursor: pointer;
    color: white;
    background-color: #00d8d8;
}

.planType {
    font-family: 'Open Sans', cursive;
    font-weight: bold;  
}

.runInfo {
    padding: 2em;
}

.planOutput {
    background-color: ghostwhite;
    box-shadow: inset 0 0 2px 0px black;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.chosenHead {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #00d8d8;
    font-family: 'Open Sans', cursive;
}

.chosenSub {
    display: flex;
    justify-content: space-around;
    font-family: 'Graduate', cursive;
    font-weight: bold;
}

.chosenBtn {
    background-color: #00d8d8;
    margin: 1em auto;
    color: white;
    font-family: "Open Sans", cursive;
    font-size: 1rem;
    padding: 2%;
    border: 3px solid transparent;
    width: 85%;
}

.chosenBtn:hover {
    cursor: pointer;
    background-color: white;
    color: #00d8d8;
    border: 3px solid #00d8d8;
}

.planHead {
    font-family: 'Open Sans', cursive;
    font-weight: bold;
    font-size: medium;
    margin: auto;
    padding: 1em;
    flex: 1;
}

.chosenInfo {
    font-family: 'Graduate', cursive;
    font-size: large;
    font-weight: bold;
    margin: auto;
    color: #00d8d8;
    flex: 1;
}

.planLink {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

@media only screen and (min-width: 780px) {
    .runHeader {
        font-size: xx-large;
    }

    .runInfo {
        font-size: large;
    }

    .runTab, .triTab {
        font-size: larger;
    }

    .chosenInfo {
        font-size: xx-large;
    }

    .planHead {
        font-size: x-large;
    }

    .chosenBtn {
        font-size: 1.5rem;
    }
}